<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="zx.app.web.mapper.ArticleMapper">

    <select id="findPagedList" parameterType="string" resultType="zx.app.web.model.entity.Article">
        select art.id,
               art.title,
               art.original_content     originContent,
               art.formate_content     formateContent,
               art.slug,
               art.create_time          createTime,
               art.update_time          updateTime,
               art.visits,
               art.likes,
        FROM article art
    </select>

    <select id="findById" parameterType="int" resultType="zx.app.web.model.entity.Article">
        select art.id,
               art.title,
               art.original_content     originContent,
               art.format_content     formatContent,
               art.slug,
               art.create_time          createTime,
               art.update_time          updateTime,
               art.summary,
                art.visits
        FROM article art where art.id = #{id}
    </select>

    <select id="findBy" parameterType="zx.app.web.model.ArticleQuery" resultType="list">
        select art.id,
               art.title,
               art.original_content     originContent,
               art.format_content     formatContent,
               art.slug,
               art.create_time          createTime,
               art.update_time          updateTime,
               art.summary,
                art.visits
        FROM article art where art.id = #{id}
    </select>

    <select id="findHotList" resultType="zx.app.web.model.vo.ArticleVo">
        select
              art.id,
              art.userId,
              art.title,
              u.nickname,
              art.summary,
              art.update_time,
              u.sign
        from
           article art left join users u
               on art.userId = u.id order by art.likes limit 0 , 3
    </select>
<select id="findLatestArticleVo" resultType="zx.app.web.model.vo.ArticleVo">
    select
              art.id,
              art.userId,
              art.title,
              u.nickname,
              art.summary,
              art.update_time,
              u.sign
    from article art left join users u on art.userId = u.id
    order by art.create_time limit 0, 3;
</select>
    <select id="findArticleVoById" resultType="zx.app.web.model.vo.ArticleVo" parameterType="int">
        select
            art.id,
            art.userId,
            art.title,
            u.nickname,
            art.summary,
            art.update_time,
            u.sign
        from article art left join users u on art.userId = u.id where art.id = #{param1}
    </select>
    <insert id="insertArticle"  parameterType="zx.app.web.model.dto.ArticleDTO" useGeneratedKeys="true" keyProperty="id">
        insert into article(userId,
                            create_time,
                            update_time,
                            format_content,
                            original_content,
                            summary,
                            title,
                            url)
        values (#{userId},#{createTime}, #{updateTime},#{formatContent},#{originContent},#{summary},#{title})
    </insert>
<select id="selectArticleVoListByUserId" resultType="zx.app.web.model.vo.ArticleVo">
    select
        art.id,
        art.title,
        u.nickname,
        art.summary,
        art.update_time,
        u.sign
    from article art left join users u on art.userId = u.id where art.userId = #{param1}
</select>


    <update id="updateStatus">

    </update>
</mapper>