<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="zx.app.web.mapper.AttachmentMapper">


    <insert id="insertUpload" parameterType="zx.app.web.model.AttachmentParam" >
        insert into attachments
                id,
               name,
               userId,
               update_time,
               size,
               suffix,
               path
        values(null, #{name}, #{userId}, now(), #{size}, #{suffix}, #{path})
    </insert>

</mapper>